@model jbar.ViewModel.sendProfileVM

@{
    string url = "";
}

<style>
    .lbl {
        font-size: 15px;
        text-align: right;
        font-weight: 600;
    }
    .outerSection {
        overflow: scroll;
        display: none;
       
    }

    .innerSection {
        max-height: 100vh;
        padding-bottom: 10vh
    }
</style>

<div onclick="profileSectionClicked()" class="buttonFigure" style="background-color:white">
    <div style="font-size:14px; width:75%;text-align:right;margin-right:30px;display:flex;direction: rtl;align-items: center;">
        <div style="flex:1">
            <p class="profilePhone">@Model.user.phone</p>
            <p id="profileName" class="lbl">@Model.user.username</p>
        </div>
        <i style="font-size:20px" class="fa fa-chevron-left"></i>

    </div>

    @if (Model.user.profileImage != null)
    {
        url = "/uploads/" + Model.user.profileImage;
    }
    else
    {
        url = "/images/user.png";
    }
    <img onError="this.onerror=null;this.src='/images/user.png';" style="width:25%" id="profileImage" src="@url" />

</div>

<div onclick="statusModalTrigger()" class="buttonFigure" style="background-color:white;direction:rtl">
    <i class="icon fa fa-user"></i>
    <span class="lbl" style="flex:1; ">احراز هویت</span>
    <i style="font-size:20px" class="fa fa-chevron-left"></i>
</div>
<div class="buttonFigure" style="background-color:white;direction:rtl;padding:0 ">
    <div style="width:100%">
        <div onclick="btnCodriver()" class="flexSection borderbottom">
            <i class="icon fa fa-user"></i>
            <span class="lbl" style="flex:1; ">رانندگان همکار</span>
            <i style="font-size:20px" class="fa fa-chevron-left"></i>
        </div>
        <div class="flexSection">
            <i class="icon fa fa-user"></i>
            <span class="lbl" style="flex:1; ">شرکت ها باربری</span>
            <i style="font-size:20px" class="fa fa-chevron-left"></i>
        </div>
    </div>

</div>
<div class="buttonFigure" style="background-color:white;direction:rtl;padding:0 ">
    <div style="width:100%">
        <div onclick="btnDriverScore()" class="flexSection borderbottom">
            <i class="icon fa fa-user"></i>
            <span class="lbl" style="flex:1; ">ثبت امتیاز رانندگان</span>
            <i style="font-size:20px" class="fa fa-chevron-left"></i>
        </div>
        <div onclick="btnDriverComment()" class="flexSection">
            <i class="icon fa fa-user"></i>
            <span class="lbl" style="flex:1; ">مشاهده نظرات</span>
            <i style="font-size:20px" class="fa fa-chevron-left"></i>
        </div>
    </div>

</div>
<div  class="buttonFigure" style="background-color:white;direction:rtl;padding:0 ">
    <div style="width:100%">
        <div class="flexSection borderbottom">
            <i class="icon fa fa-user"></i>
            <span class="lbl" style="flex:1; ">پشتیبانی</span>
            <i style="font-size:20px" class="fa fa-chevron-left"></i>
        </div>
        <div class="flexSection">
            <i class="icon fa fa-user"></i>
            <span class="lbl" style="flex:1; ">راهنما</span>
            <i style="font-size:20px" class="fa fa-chevron-left"></i>
        </div>
    </div>

</div>
<div onclick="verifyClientModal()" class="buttonFigure" style="background-color:white;direction:rtl">
    <i class="icon fa fa-user"></i>
    <span class="lbl" style="flex:1; ">خروج از حساب کاربری</span>
    <i style="font-size:20px" class="fa fa-chevron-left"></i>
</div>

<div class="userprofilesection slideSection outerSection"  >
    <div class="innerSection">
        <div class="sectionHeader backToHomeFromProfile" style="position:relative">
            <i class="fa fa-arrow-left" style="margin:0 20px; "></i> <span style="flex:1">پروفایل کاربری</span>
        </div>



        <div style="display:flex; align-items:center;justify-content:center">
            <div style="text-align:center; margin-top:25px">
                <img style="width:100px" id="UserProfileImage" src="@url" />
                <div id="profileImageInputTrigger" style="        padding: 10px;
        border-radius: 8px;
        background-color: #a06509;
        width: 100%;
        margin: auto;
        color: white">آپلود عکس پروفایل</div>
                <input type="file" id="profileImageInput" style="display:none" />
                <p id="profileImageInputFinal" style="display:none"></p>
            </div>
        </div>


        <div class="inputHolder">
            <input id="fullnameclient" value="@Model.user.username" required='' type='text'>
            <label alt='نام کاربری شما' placeholder='نام کاربری شما'></label>

        </div>




        <div style="padding:15px">
            <div id="btnprofilesubmit" style="text-align:center">تایید</div>
        </div>





    </div>
</div>

<div class="userVerifsection slideSection outerSection" >
    <div class="innerSection">
        <div class="sectionHeader backToHomeFromProfileEhraz" style="position:relative">
            <i class="fa fa-arrow-left  " style="margin:0 20px; z-index:999999"></i> <span style="flex:1">احراز هویت کاربر</span>
        </div>



        <div style="padding: 0 25px">

            <div class="owl-carousel owl-theme">
                <div class="item">
                    <h3>احراز هویت در کمتر از ده دقیقه</h3>
                    <img style="height:40vh" src="~/images/connection.jpg" />
                    <h3>افزایش درخواست حمل بار</h3>
                    <p>پس از احراز هویت و دریافت برچسب اعتبار، رانندگان بیشتری به شما اعتماد خواهند کرد</p>
                    <div style="padding:15px">
                        <div onclick="btnVerifInnerEvent()" class="btnstyle" style="text-align:center">احراز هویت</div>
                    </div>
                </div>
                <div class="item">
                    <h3>احراز هویت در کمتر از ده دقیقه</h3>
                    <img style="height:40vh" src="~/images/connection.jpg" />
                    <h3>افزایش درخواست حمل بار</h3>
                    <p>پس از احراز هویت و دریافت برچسب اعتبار، رانندگان بیشتری به شما اعتماد خواهند کرد</p>
                    <div style="padding:15px">
                        <div onclick="btnVerifInnerEvent()" class="btnstyle" style="text-align:center">احراز هویت</div>
                    </div>
                </div>
                <div class="item">

                    <h3>احراز هویت در کمتر از ده دقیقه</h3>
                    <img style="height:40vh" src="~/images/connection.jpg" />
                    <h3>افزایش درخواست حمل بار</h3>
                    <p>پس از احراز هویت و دریافت برچسب اعتبار، رانندگان بیشتری به شما اعتماد خواهند کرد</p>

                    <div style="padding:15px">
                        <div onclick="btnVerifInnerEvent()" class="btnstyle" style="text-align:center">احراز هویت</div>
                    </div>
                </div>

            </div>
            <link href="~/Content/owl.carousel.min.css" rel="stylesheet" />
            <link href="~/Content/owl.theme.default.min.css" rel="stylesheet" />

            <script src="~/Scripts/owl.carousel.min.js"></script>

            <script>
                $('.owl-carousel').owlCarousel({
                    loop: true,
                    margin: 10,
                    nav: false,

                    responsive: {
                        0: {
                            items: 1
                        },
                        600: {
                            items: 1
                        },
                        1000: {
                            items: 1
                        }
                    }
                })
            </script>

        </div>








    </div>
</div>
<div class="userVerifInnerSection slideSection outerSection">
    <div class="innerSection">
        <div class="sectionHeader backToHomeFromInnerVerif" style="position:relative">
            <i class="fa fa-arrow-left  " style="margin:0 20px; z-index:999999"></i> <span style="flex:1">احراز هویت کاربر</span>
        </div>

        <div style="padding: 0 25px">

            <div style="padding:15px">
                <div onclick="profileForm('1')" class="btnstyle " style="text-align:center">احراز هویت شخصی </div>
            </div>

            <div style="padding:15px">
                <div onclick="profileForm('2')" class="btnstyle " style="text-align:center">احراز هویت شرکتی</div>
            </div>

            <div style="padding:15px">
                <div onclick="profileForm('3')" class="btnstyle " style="text-align:center">احراز هویت باربری</div>
            </div>


        </div>








    </div>
</div>
<div class="userCoDriversection slideSection outerSection" >
    <div class="innerSection">
        <div class="sectionHeader">
            <i id="backToHomeFromCodriver" class="fa fa-arrow-left" style="margin:0 20px"></i> <span style="flex:1">رانندگان همکار</span>
        </div>
        <div class="flexSection" style="border:1px solid #eee; border-radius:8px; padding:10px; margin:10px">
            <div>
                <div class="inputHolder">
                    <input id="codriverinput" value="" required='' type='text'>
                    <label alt='شماره راننده' placeholder='شماره راننده را وارد کنید'></label>
                </div>
                <p style="text-align:right; padding:0 15px">راننده باید با این شماره در جی بار عضو باشد  در غیر این صورت برای آن لینک دانلود اپلیکیشن ارسال میگردد</p>

                <p onclick="addDriver($('#codriverinput').val())" style="color:white" class="buttonVerif">افزودن همکار جدید</p>
            </div>

        </div>
        <div id="coDriverParent" style="text-align :center; padding:30px 0">

        </div>






    </div>
</div>
<div class="userProfilesectionForAll slideSection outerSection" >
    <div class="innerSection">
        <div class="sectionHeader">
            <i id="backToHomeProfileFormAll" class="fa fa-arrow-left" style="margin:0 20px"></i> <span id="veriflable" style="flex:1"></span>
        </div>
        <div id="parentOfVerifForm">

        </div>





    </div>
</div>
<div class="driverScoreSection slideSection outerSection" >
    <div class="innerSection">
        <div class="sectionHeader">
            <i id="backToHomeFromDriverScore" class="fa fa-arrow-left" style="margin:0 20px"></i> <span style="flex:1">رانندگان همکار</span>
        </div>

        <div id="driverScoreParent" style="text-align :center; padding:30px 0">

        </div>






    </div>
</div>
<div class="driverCommentSection slideSection outerSection" >
    <div class="innerSection">
        <div class="sectionHeader">
            <i id="backToHomeFromCommnet" class="fa fa-arrow-left" style="margin:0 20px"></i> <span style="flex:1">نظرات رانندگان</span>
        </div>

        <div id="driverCommentParent" style="text-align :center; padding:30px 0">

        </div>






    </div>
</div>
<div class="supportsection slideSection outerSection" >
    <div class="innerSection">
        <div class="sectionHeader">
            <i id="backToHomeFromSupport" class="fa fa-arrow-left" style="margin:0 20px"></i> <span style="flex:1">پشتیبانی</span>
        </div>

        <iframe src="https://www.jbar.app/home/help" style=" position:absolute; left:0; top:10vh; right:0; bottom:0; height:80vh;width:100%">
        </iframe>






    </div>
</div>
<div class="helpsection slideSection outerSection">
    <div class="innerSection">
        <div class="sectionHeader">
            <i id="backToHomeFromHelp" class="fa fa-arrow-left" style="margin:0 20px"></i> <span style="flex:1">راهنما</span>
        </div>

        <div id="walletParent" style="text-align :center; padding:30px 0">

        </div>






    </div>
</div>
<script>
    $("#profileImageInputTrigger").click(function () {
        $("#profileImageInput").click();
    })
    $("#kartehoshmandTrigger").click(function () {
        $("#kartehosshman").click();
    })
    $("#kartenavganTrriger").click(function () {
        $("#kartenavgan").click();
    })

    $("#profileImageInput").change(function () {
        var file = $("#profileImageInput").get(0).files[0];
        if (file) {
            var reader = new FileReader();
            reader.onload = function () {
                $("#UserProfileImage").attr("src", reader.result);
            }

            reader.readAsDataURL(file);
        }
    })
    $("#kartehosshman").change(function () {
        var file = $("#kartehosshman").get(0).files[0];
        if (file) {
            var reader = new FileReader();
            reader.onload = function () {
                $("#hoshmandTitle").attr("src", reader.result);
                $("#hoshmandTitle").show();
            }

            reader.readAsDataURL(file);
        }

        // $("#hoshmandTitle").text($("#kartehosshman").val().split('\\').pop());
    })
    $("#kartenavgan").change(function () {
        var file = $("#kartenavgan").get(0).files[0];
        if (file) {
            var reader = new FileReader();
            reader.onload = function () {
                $("#navganTitle").attr("src", reader.result);
                $("#navganTitle").show();
            }

            reader.readAsDataURL(file);
        }
        //$("#navganTitle").text($("#kartenavgan").val().split('\\').pop());
    })
</script>

<script>

    $("#profileImageInputTrigger").click(function () {
        $("#profileImageInput").click();
    })
    $("#profileImageInput").change(function () {
        var file = $("#profileImageInput").get(0).files[0];
        if (file) {
            var reader = new FileReader();
            reader.onload = function () {
                $("#UserProfileImage").attr("src", reader.result);
            }

            reader.readAsDataURL(file);
        }
    })
    $("#btnprofilesubmit").click(function () {
        $("#loading").show();
        sendprofileImage(sendProfileForm);
    });
    $(".backToHomeFromProfileEhraz").click(function () {

        $('.userVerifsection').animate({ 'margin-bottom': '-=100vh' }, 200, function () {
            $('.userVerifsection').hide();

        });

    })
    $("#backToHomeProfileFormAll").click(function () {

        $('.userProfilesectionForAll').animate({ 'margin-bottom': '-=100vh' }, 200, function () {
            $('.userProfilesectionForAll').hide();

        });

    })
    
    $(".backToHomeFromProfile").click(function () {

        $('.userprofilesection').animate({ 'margin-bottom': '-=100vh' }, 200, function () {
            $('.userprofilesection').hide();

        });

    })
    $(".backToHomeFromInnerVerif").click(function () {

        $('.userVerifInnerSection').animate({ 'margin-bottom': '-=100vh' }, 200, function () {
            $('.userVerifInnerSection').hide();

        });

    })
    $("#backToHomeFromCodriver").click(function () {

        $('.userCoDriversection').animate({ 'margin-bottom': '-=100vh' }, 200, function () {
            $('.userCoDriversection').hide();

        });

    })
    $("#backToHomeFromDriverScore").click(function () {

        $('.driverScoreSection').animate({ 'margin-bottom': '-=100vh' }, 200, function () {
            $('.driverScoreSection').hide();

        });

    })
    $("#backToHomeFromCommnet").click(function () {

        $('.driverCommentSection').animate({ 'margin-bottom': '-=100vh' }, 200, function () {
            $('.driverCommentSection').hide();

        });

    })
    $("#backToHomeFromSupport").click(function () {

        $('.supportsection').animate({ 'margin-bottom': '-=100vh' }, 200, function () {
            $('.supportsection').hide();

        });

    })
    $("#backToHomeFromHelp").click(function () {

        $('.helpsection').animate({ 'margin-bottom': '-=100vh' }, 200, function () {
            $('.helpsection').hide();

        });

    })


</script>