@model jbar.ViewModel.processActionVM

@{
    ViewBag.Title = "Process";
    Layout = "~/Views/Shared/_panelLayout.cshtml";
}
@section scripts{
    <script src="~/Scripts/persian-date.min.js"></script>
    <script src="~/Scripts/persian-datepicker.js"></script>
    <script src="~/Assets_panel/js/advanced-form-elements.js"></script>
    <script src="~/Assets_panel/js/select2.js"></script>
    @if (@ViewBag.error != null)
    {
        <script>
            toastr.options = {
                'closeButton': true,
                'debug': false,
                'newestOnTop': false,
                'progressBar': false,
                'positionClass': 'toast-top-right',
                'preventDuplicates': false,
                'showDuration': '1000',
                'hideDuration': '1000',
                'timeOut': '5000',
                'extendedTimeOut': '1000',
                'showEasing': 'swing',
                'hideEasing': 'linear',
                'showMethod': 'fadeIn',
                'hideMethod': 'fadeOut',
            }
            toastr.error('@ViewBag.error');
        </script>
    }
}


<div class="">
    <div class="border">
        <div class="bg-gray-300 nav-bg" style="border-radius:6px; margin:0 30px">
            <nav class="nav nav-tabs">
                <a class="nav-link active" data-bs-toggle="tab" href="#tabCont1">لیست پروسه ها </a>
                <a class="nav-link " data-bs-toggle="tab" href="#tabCont2"> افزودن پروسه جدید </a>

            </nav>
        </div>
        <div class="card-body tab-content">
            <div class="tab-pane active show" id="tabCont1">
                <div class="col-lg-12">
                    <div class="card custom-card">
                        <div class="card-body">
                            <div>
                                <h6 class="main-content-label mb-1">جدول ماهیت سفارشات</h6>
                                <p class="text-muted card-sub-title">لیست انواع پروسه های جاری شرکت قابل مشاهده خواهد بود</p>
                            </div>
                            <div class="table-responsive border">
                                <table class="table text-nowrap text-md-nowrap table-hover mg-b-0">
                                    <thead>
                                        <tr>

                                            <th>نام</th>

                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.processList != null)
                                        {
                                            foreach (var item in Model.processList)
                                            {

                                                <tr>
                                                    <td>@item.title</td>

                                                    <td>
                                                        <button id="@item.processID" onclick="removeProcess(this)" type="button" class="btn ripple btn-primary btn-sm">حذف </button>
                                                    </td>
                                                    <td>
                                                        <form target="_blank" action="processFormula" method="post">
                                                            <input name="processID" value="@item.processID" hidden />
                                                            <input name="title" value="@item.title" hidden />
                                                            <button type="submit" class="btn ripple btn-primary btn-sm">فرمول های اختصاصی </button>

                                                        </form>
                                                    </td>
                                                </tr>
                                            }
                                        }



                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane " id="tabCont2">
                <div class="row row-sm">
                    <div class="col-xl-12 col-lg-12 col-md-12">
                        <div class="card custom-card">
                            <div class="card-body">

                                <form action="setNewProcess" method="post">
                                    <div class="row row-sm mg-b-20">
                                        <div style="margin-bottom:15px">
                                            <h6 class="main-content-label mb-1"> نام پروسه</h6>

                                        </div>
                                        <div class="col-lg-12 form-group">

                                            <input class="form-control" name="title" placeholder="نام پروسه  " required="" type="text">
                                        </div>

                                    </div>
                                    <button class="btn ripple btn-main-primary btn-block">ارسال</button>
                                </form>



                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


