@model jbar.ViewModel.getYadakResponce
@{
    ViewBag.Title = "yadak";
    Layout = "~/Views/Shared/_panelLayout.cshtml";
}

    <div class="">
        <div class="border">
            <div class="bg-gray-300 nav-bg" style="border-radius:6px; margin:0 30px">
                <nav class="nav nav-tabs">
                    <a class="nav-link active" data-bs-toggle="tab" href="#tabCont1">لیست یدک ها </a>
                    <a class="nav-link " data-bs-toggle="tab" href="#tabCont2"> افزودن یدک جدید </a>

                </nav>
            </div>
            <div class="card-body tab-content">
                <div class="tab-pane active show" id="tabCont1">
                    <div class="col-lg-12">
                        <div class="card custom-card">
                            <div class="card-body">
                                <div>
                                    <h6 class="main-content-label mb-1">جدول لیست یدک ها</h6>
                                    <p class="text-muted card-sub-title">لیست یدک های شرکت </p>
                                </div>
                                <div class="table-responsive border">
                                    <style>
                                        td {
                                            direction: ltr
                                        }
                                    </style>
                                    <table class="table text-nowrap text-md-nowrap table-hover mg-b-0">
                                        <thead>
                                            <tr>

                                                <th>ردیف</th>
                                                <th>شماره</th>
                                                <th>نوع</th>
                                                <th>وضعیت</th>
                                                <th></th>


                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.yadakList != null)
                                            {
                                                foreach (var item in Model.yadakList)
                                                {
                                                    int index = Model.yadakList.IndexOf(item) + 1;
                                                    <tr>
                                                        <td>@index</td>
                                                        <td>@item.yadakNumber</td>
                                                        <td> @item.loadtype</td>
                                                        <td> @item.status</td>
                                                        <td>
                                                            <button type="submit" class="btn ripple btn-primary btn-sm"> گزارشات </button>
                                                        </td>
                                                    </tr>
                                                }
                                            }



                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane " id="tabCont2">
                    <div class="row row-sm">
                        <div class="col-xl-12 col-lg-12 col-md-12">
                            <div class="card custom-card">
                                <div class="card-body">

                                    <form action="setYadakAsync" method="post">
                                        <div class="row row-sm mg-b-20">


                                            <div class="col-lg-3 form-group">
                                                <h6 style="margin-bottom:15px" class="main-content-label mb-1">شماره یدک </h6>
                                                <input class="form-control" name="yadakNumber" placeholder="شماره یدک" required="" type="text">
                                            </div>
                                            <div class="col-lg-3 form-group">
                                                <h6 style="margin-bottom:15px" class="main-content-label mb-1"> نوع یدک </h6>
                                                <select name="typeID" class="form-control select-lg select2">
                                                    @foreach (var typ in Model.typeList)
                                                    {
                                                        <option value="@typ.typeID">@typ.title</option>
                                                    }

                                                   
                                                </select>
                                            </div>
                                           
                                            <div class="col-lg-3 form-group">

                                                <button style="margin-top:20px" class="btn ripple btn-main-primary btn-block">تایید</button>

                                            </div>
                                        </div>

                                    </form>



                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

