@model jbar.ViewModel.getOrderVM

<style>
   
</style>
@if (Model.orderList != null)
{
    foreach (var item in Model.orderList)
    {
        <div id="@item.orderID" onclick="orderDetialClicked(this)" class="orderParent gotToOrderDetail">
            <div class="section flexcentre">
                <div class="lable">جدید</div>
                <div class="viewcounter">@item.viewNumber</div>
                <i style="color: #312974;" class="fa fa-eye"></i>
            </div>
            <div class="section sectionRLT">
                <div>
                    <div class="section noborder">
                        <i class="fal fa-map-marker icon"></i>
                        <div>@item.origin</div>
                    </div>

                    <img style="width:30px" src="~/images/down.png" />
                    <div class="section noborder">
                        <i class="fal fa-map-marker icon"></i>
                        <div>@item.destin</div>
                    </div>
                </div>
            </div>
            <div class="section sectionRLT">
                <div>صافی کل</div>
                <div class="price">@string.Format("{0:n0}", item.priceTotal) </div>
            </div>
        </div>
    }
}


